BASE_URL=https://api.openai.com/v1
API_KEY=
MODEL=gpt-4.1-mini
API_TIMEOUT_SECONDS=60
TTS_ENABLED=false
GPT_SOVITS_API_URL=http://127.0.0.1:9880/tts
GPT_SOVITS_REF_AUDIO_PATH=ref\VO01_2210.ogg
GPT_SOVITS_REF_TEXT_PATH=ref\text.txt
GPT_SOVITS_REF_LANG=ja
GPT_SOVITS_TEXT_LANG=ja
GPT_SOVITS_TONE_REF_PATH=ref\ref.txt
GPT_SOVITS_TIMEOUT_SECONDS=60
